@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins';
    font-size: 16px;
    scroll-behavior: smooth;
    background: linear-gradient(to right, #b297df, #18f6c6 , #66e8ff );
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #434343;
    font-size: 16px;
}

ul {
    list-style: none;
}

/* menu  */

.header-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color:rgba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}

.header-title {
    font-size: 2.5rem;
    color:blue;
    
    }

.header-nav ul {
    display: flex;
}

.header-nav li {
    margin: 0 10px;
}

.header-nav a {
    font-size: .9rem;
    font-weight: 800;
    transition: .4s;
}

.header-nav a:hover {
    color: #12c20c;
}


/**************************** cards *********************************/
main.card {
    display: flex;
    padding: 32px;
}
#title{
    color: rgb(153, 0, 255);
    margin-bottom: .5em;
    margin-right: 7.8em;
          
}
.sign{
    color: rgb(153, 0, 255);
}

main.card section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:rgb(255, 255, 255);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    max-height: 468px;
    margin-left: 32px;
}

main.card section.card:first-child {
    margin-left: 0;
}

main.card section.card img {
    width: 100%;
}

main.card section.card h3 {
    font-size: 100%;
    margin: 16px 0;
}

main.card section.card span {
    font-weight: 300;
    max-width: 240px;
    font-size: 80%;
    margin-bottom: 16px;
}
/* buton-card */

main.card section.card button {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    border-radius: .5em;
    border: 0;
    cursor: pointer;
    font-size: 80%;
    font-weight: 500;
    color: rgb(20, 19, 19);
    margin-bottom: 16px 0;
    transition: .7s;
    margin-top: .8em;
}   

main.card  button {
    background: linear-gradient(to right, #b297df, #18f6c6 , #66e8ff);
}

main.card  button:hover{
    background: linear-gradient(to right,#18f6c6,#66e8ff ,#b297df );
}
.user-id {
  padding-left: 2em;
  background: url(/img/user.svg) no-repeat left;
  background-size: 1,5em;
  background-color: #fff;
  height: 2.2em;
  margin-bottom: 0.8em;
  display: flex;
  flex-direction: column; width: 19em ;  
  border-radius: 5px;
  margin-left: .2em;
    
}
.icon-pass{
  padding-left: 2em;
  background: url(/img/user.svg) no-repeat left;
  background-size: 1,5em;
  background-color: #fff;
  height: 2.2em;
  margin-bottom: 0.9em;
  display: flex;
  flex-direction: column; width: 19em ;  
  border-radius: 5px;
  margin-left: .2em;

}

.text h1{
    font-size: 1em;
    color: rgb(153, 0, 255);
}
.text a{
    color:rgb(250, 3, 3);
    font-size: 1em;
    margin-left: .5em;
    text-decoration: none;    
}
.text a:hover{
    color:#2cbb00 ;
}

.forgot a{
    margin-left: .2em;
    color:rgb(255, 3, 3);
    font-size: .9em;
    text-decoration: none; 
    
}
.forgot a:hover{
    color:#2cbb00 ;

}             

/********************mobile************************/

@media screen and (max-width: 720px) {
    main.card {
        flex-direction: column;
        margin-top: .2em;
    }

    main.card section.card {
        margin-left: 0;
        margin-bottom: 2em;
    }

    main.card section.card:last-child {
        margin-bottom: 0;
    }

    main.card section.card button {
        font-size: 70%;
    }

    
}